
<footer>
    <div class="footer-wrapper">
        <p>© UNCC Watch Party</p>
        <p>Copyright 2022</p>

        <div class="footer-nav-links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

</footer>

</body>
</html>