<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <header><!--Start of header -->
            <!--<img class="logo" src="" alt="Logo" usemap="#logo">      
            <map name="logo">
                <area shape="default" coords="20,0 ,270,0, 270,70, 20,70" alt="logo" href="/index">
            </map>  -->        
            <nav>
                <ul class="links">
                    <li><a href="/new">Create an Event</a></li>
                    <li><button><a href="#">Login</a></button></li>
                    <li><button><a href="#">Sign Up</a></button></li>
                </ul>
            </nav>
        </header><!--End of header -->
        <div>
            <nav>
                <br><br>
                <ul>
                    
                    <li><a href="/">Events</a></li>
                </ul>
            </nav>
        </div>