<%- include('./partials/header.ejs')%>
<main>
    <h1>Contact Us</h1>
    <div class="about" >
   
        <p>
        <h4>Stop by to say hello: </h4>
        <p>8845 Craver Road, Charlotte, NC 28223</p>
        <br>
        <br>
        <h4>Contact us if you have any questions or feedback!</h4>

        <table class="aboutHours">
            <tr><th>Email</th><td>uncc_movie@gmail.com</td></tr>
            <tr><th>FAX</th><td>336=918-8000</td></tr>
            <tr><th>Phone Number</th><td>339-955-5522</td></tr>
    
            </table><br>
            <br>
            <br>
</main>   
<footer>
    <nav class="navbar navbar-expand-sm fixed-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link disabled">© UNCC Watch Party</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</footer>