<%- include('./partials/header.ejs')%>
<main>
    <h1> Movie Game </h1>
	<input class="letter-control" type="text" id="l1" name="l1" required>
	<input class="letter-control" type="text" id="l1" name="l1" required>
	<input class="letter-control" type="text" id="l1" name="l1" required>
	<input class="letter-control" type="text" id="l1" name="l1" required>
	<input class="letter-control" type="text" id="l1" name="l1" required>
</main>   
<%- include('./partials/footer.ejs')%>