<!-- This index serves as a landing page -->


<%- include('./partials/header.ejs')%>
<main>
    <!--homepage intro header section -->
    <div class="wrapper" aria-describedby="pageintro" >
        <div id="pageintro">
            <article>
                <h3 class="heading">UNCC WATCH PARTY</h3>
                <p id="info">Welcome to UNCC's Watch Party website. Create events for your and your friends to watch movies and meet new people along the way! </p>
                <br><br><br>
            
            </article>
        </div>

    </div>


</main>   
<%- include('./partials/footer.ejs')%>