<%- include('../partials/header.ejs')%>
<form action = '/users/login' method = 'POST'>
    <div class="justify-content-center">
        <div class="form-group">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="email" name="email" required></td>
        </div>       
        <div class="form-group">
            <label for="password" class="form-label">Password: </label>
            <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="64" required></td>
        </div><br>
            <button style="text-align: center;" type="submit" class="homebutton">Login</button>
    </div>     
</form>

</div>
<footer>
    <nav class="navbar navbar-expand-sm fixed-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link disabled">© UNCC Watch Party</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</footer>