<%- include('../partials/header.ejs')%>
        <main>
            <div class="container mt-3">
            <form action='/' method = 'POST'>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="eventName">Event:</label>
                        <input type="text" id="eventName" name="eventName" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="genre">Genre:</label>
                        <input type="text" id="genre" name="genre" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="details">Details:</label>
                        <textarea id="dtails" name="details" required></textarea>
                    </li>
                </div> 
                <div class="mb-3 mt-3">                 
                    <li>
                        <label for="date">When:</label>
                        <input type="date" placeholder="mm-dd-yyyy" id="date" name="date" required>
                    </li>
                </div> 
                <div class="mb-3 mt-3">
                    <li>
                        <label for="start">Start:</label>
                        <input type="time" id="start" name="start" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="end">End:</label>
                        <input type="time" id="end" name="end" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="hostName">Host:</label>
                        <input type="text" id="hostName" name="hostName" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="url">Image:</label>
                        <input type="url" id="url" name="url" required><br>
                    </li>
                </div>
                <button>Create</button>
            </form><br><br>
        </div>
        </main>
        <%- include('../partials/footer.ejs')%>