<%- include('../partials/header.ejs')%>
        <main>

            <h1 class="cont">Create a New Event </h1>
            <div class="newForm">
            <form action='/' method = 'POST'>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="eventName" class="form-label">Movie Name:</label>
                        <input class="form-control" type="text"  placeholder="Enter Movie Title or Event Name" id="eventName" name="eventName" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="genre" class="form-label">Genre:</label>
                        <input class="form-control" type="text" id="genre"  placeholder="Enter Movie Genre" name="genre" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="location" class="form-label">Location:</label>
                        <input class="form-control" type="text" id="location" name="location"  placeholder="Enter Event Location or Address" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="details" class="form-label">Details:</label>
                        <textarea class="form-control" id="dtails" name="details"  placeholder="Enter Event Details, Links, Snacks etc." required></textarea>
                    </li>
                </div> 
                <div class="mb-3 mt-3">                 
                    <li>
                        <label for="date" class="form-label">When:</label>
                        <input class="form-control" type="date" placeholder="mm-dd-yyyy" id="date" name="date" required>
                    </li>
                </div> 
                <div class="mb-3 mt-3">
                    <li>
                        <label for="startTime" class="form-label">Start:</label>
                        <input class="form-control" type="time" id="start" name="startTime" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="endTime" class="form-label">End:</label>
                        <input class="form-control" type="time" id="end" name="endTime" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="hostName" class="form-label">Host:</label>
                        <input class="form-control" type="text" id="hostName"  placeholder="Enter Host Name" name="hostName" required>
                    </li>
                </div>
                <div class="mb-3 mt-3">
                    <li>
                        <label for="image" class="form-label">Image:</label>
                        <input class="form-control" type="url" id="url"  placeholder="Paste Image URL Here" name="image" required><br>
                    </li>
                </div>
                <button type="submit" class="homebutton">Create Now</button>
            </form><br>
        </div>
        </main>
        <%- include('../partials/footer.ejs')%>